.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  border-top: 1px solid #ffdf8c;
  border-bottom: 1px solid #ffdf8c;
  padding: 20px 0;
  img {
    width: 80px;
    height: 80px;
  }
  &__number {
    margin: 0 20px;
    font-weight: 700;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  button {
    border: 1px solid #fe5f1e;
    color: #fe5f1e;
    width: 32px;
    height: 32px;
    border-radius: 150%;
  }
}
