.nav__title {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 30px;
  &:hover {
    transition: all 0.2s linear;
    background: #282828;
    color: #f9f9f9;
    cursor: pointer;
  }
}

.active {
  background-color: #282828 !important;
  color: #f9f9f9;
}
