.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-weight: 700;
  b {
    cursor: pointer;
  }
}
.active {
  color: #fe5f1e;
  border-bottom: dashed 1px;
}
.sort {
  position: relative;
}
.nav__list {
  display: flex;
}
